{
  "trailingComma": "all",
  "useTabs": false,
  "tabWidth": 2,
  "semi": true,
  "jsxSingleQuote": false,
  "singleQuote": false,
  "printWidth": 160,
  "proseWrap": "never",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "avoid",
  "endOfLine": "lf"
}